.fou_pleasure {
  background: url('../../../public/img/foupleasure-bg.svg') no-repeat;
  padding: 0 182px !important;
  min-height: 260px;
  font-family: Merienda !important;

  h1 {
    color: #fff;
    font-size: 40px !important;
    font-weight: 700 !important;
    margin: 65px 0px 165px 0px;
  }
}
