.header_nav {
  padding-top: 52px !important;
  ul {
    display: flex;
    li {
      cursor: pointer;
      &:first-child {
        position: relative;
        &::before {
          content: '';
          background-image: url('../../../public/img/icons/coffee-beans.svg');
          position: absolute;
          display: block;
          bottom: 4px;
          left: -32px;
          height: 35px;
          width: 35px;
          z-index: 1;
        }
      }
      &:not(:last-child) {
        margin: 0px 40px 0px 0px;
      }
    }
  }
}
