.our_best {
  background: url('../../../public/img/ourbest-bg.svg') 0 0 repeat;
  min-height: 495px;
  padding: 80px 0px 0px 0px !important;

  h3 {
    color: #000;
    font-size: 24px !important;
    font-weight: 400;
    line-height: normal;
    margin: 0px 0px 39px 0px !important;
  }
}
